<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/implementation/' %} active {% endif %}"><a href="{{ "/implementation/" | absolute_url }}">Implementation</a></li>
  <li class="{% if page.url contains '/installation/' %} active {% endif %}"><a href ="{{ "/installation/" |absolute_url }}">Installation</a></li>
</ul>

<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
